<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <h1>Create Shopping List</h1>
    <nav>
        <nav>
            <form action="/list" method="POST">
                Add Shopping Item: <input type="text" name="item" /><br/>
                Category: <input type="text" name="category" /><br/>
                <input type="submit" name="" value="Add Item"/>
            </form>
    
        <ul>
            <% list.forEach((list) => { %>
                <li>
                    <!--Determines which route to go -->
                    <a href="/list/<%= list.id %>"><%= list.item %></a>
                    <!--  ADD DELETE FORM HERE-->
                    <form action="/list/<%= list.id %>?_method=DELETE" method="POST">
                        <input type="submit" value="DELETE"/>
                    </form>
                </li>
            <% }) %>
        </ul>
    </nav>
</body>
</html>