<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <h1>Welcome! To sign up please fill in the information below:</h1>
    <nav>
        <form action="/users" method="POST">
            Name: <input type="text" name="name" /><br/>
            Password: <input type="text" name="password" /><br/>
            <input type="submit" name="" value="Sign Up"/>
        </form>
    
    </nav>
</body>
</html>